@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* CSS for the title pages */
.cover{ 
    background: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* the gradient on top, adjust color and opacity to your taste */
        url(img/title-page.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    position: static;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cpf-logo{
    z-index: 1;
    position: absolute;
    top: -3%;
    left: -1%;
    height: 120%;
    width: auto;
}

/* CSS for animations with key */
.key {
    background: 
        /* linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* the gradient on top, adjust color and opacity to your taste */
        url(img/CPF-BG.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    position: static;
    width: 100vw;
    height: 100vh;
}

/* CSS for animatiins with pie chart */
.pie-chart {
    background: 
        linear-gradient(0deg, rgba(182, 217, 213, 0.3), rgba(182, 217, 213, 0.3)), /* the gradient on top, adjust color and opacity to your taste */
        url(img/CPF-BG.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    position: static;
    width: 100vw;
    height: 100vh;
}


