html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}


.parent{
    position: relative;
}

.loader{
    background: rgb(255, 255, 255);
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
}


/* CSS for the title pages */
.cover{ 
    position: static;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cpf-logo{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: auto;
}

/* CSS for animations with key */
.key {
    background: 
        /* linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* the gradient on top, adjust color and opacity to your taste */
        url(img/CPF-BG.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    position: static;
    width: 100vw;
    height: 100vh;
}

/* CSS for animations with pie chart */
.pie-chart {
    background: 
        linear-gradient(0deg, rgba(182, 217, 213, 0.3), rgba(182, 217, 213, 0.3)), /* the gradient on top, adjust color and opacity to your taste */
        url(img/CPF-BG.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    position: static;
    width: 100vw;
    height: 100vh;
}

.government-cover-1 {
    background: 
        url(img/01_Cover.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

.loved-ones-cover-4 {
    background: 
        url(img/04_Cover.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

.gov-loved-ones-cover-7 {
    background: 
        url(img/07_Cover.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

.ending-9 {
    background: 
        /* linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), the gradient on top, adjust color and opacity to your taste */
        url(img/09_Ending.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}


